/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */



/*** View and outer controls ***/

#downloadsRichListBox {
  /** The default listbox appearance comes with an unwanted margin. **/
  -moz-appearance: none;
  margin: 0;
}

/*** List items ***/

#downloadsRichListBox > richlistitem.download {
  height: var(--downloads-item-height);
}

#downloadsRichListBox > richlistitem.download {
  padding: 5px 8px;
}

.downloadTypeIcon {
  margin-top: 8px;
  margin-inline-end: 12px;
  margin-bottom: 8px;
  margin-inline-start: 0;
  width: 32px;
  height: 32px;
}


.downloadBlockedBadge {
  margin: 0 4px;
  background: url("moz-icon://stock/gtk-dialog-error?size=dialog") top right / 16px no-repeat;
}

.downloadBlockedBadge:-moz-locale-dir(rtl) {
  background-position-x: left;
}

richlistitem.download[verdict="PotentiallyUnwanted"] .downloadBlockedBadge {
  background-image: url("chrome://browser/skin/warning.svg");
}

richlistitem.download[verdict="Uncommon"] .downloadBlockedBadge {
  background-image: url("chrome://browser/skin/info.svg");
}

richlistitem.download > toolbarseparator {
  display: none;
}

.downloadTarget {
  margin-bottom: 3px;
  cursor: inherit;
}

.downloadDetails {
  opacity: 0.7;
  font-size: 95%;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  -moz-box-align: center;
  background: transparent;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  padding: 5px;
}

/*** List items ***/

:root {
  --downloads-item-height: 5em;
}

/*** Button icons ***/

.downloadButton.downloadIconCancel {
  list-style-image: url("chrome://symbolic-icons/skin/cancel.svg");
}
richlistitem.download:hover .downloadButton.downloadIconCancel {
  opacity: .8;
}
richlistitem.download:hover .downloadButton.downloadIconCancel:hover {
  opacity: .5;
}
richlistitem.download:hover .downloadButton.downloadIconCancel:active {
  opacity: 1;
}
richlistitem.download[selected] .downloadButton.downloadIconCancel {
  filter: url(chrome://browser/skin/symbolic-icons-colors.svg#white);
}
richlistitem.download[selected]:hover .downloadButton.downloadIconCancel {
  opacity: .5;
}
richlistitem.download[selected]:hover .downloadButton.downloadIconCancel:hover {
  opacity: .8;
}
richlistitem.download[selected]:hover .downloadButton.downloadIconCancel:active {
  opacity: 1;
}

.downloadButton.downloadIconShow {
  list-style-image: url("chrome://symbolic-icons/skin/folder.svg");
}
richlistitem.download:hover .downloadButton.downloadIconShow {
  opacity: .8;
}
richlistitem.download:hover .downloadButton.downloadIconShow:hover {
  opacity: .5;
}
richlistitem.download:hover .downloadButton.downloadIconShow:active {
  opacity: 1;
}
richlistitem.download[selected] .downloadButton.downloadIconShow {
  filter: url(chrome://browser/skin/symbolic-icons-colors.svg#white);
}
richlistitem.download[selected]:hover .downloadButton.downloadIconShow {
  opacity: .5;
}
richlistitem.download[selected]:hover .downloadButton.downloadIconShow:hover {
  opacity: .8;
}
richlistitem.download[selected]:hover .downloadButton.downloadIconShow:active {
  opacity: 1;
}

.downloadButton.downloadIconRetry {
  list-style-image: url("chrome://symbolic-icons/skin/view-refresh.svg");
}
richlistitem.download:hover .downloadButton.downloadIconRetry {
  opacity: .8;
}
richlistitem.download:hover .downloadButton.downloadIconRetry:hover {
  opacity: .5;
}
richlistitem.download:hover .downloadButton.downloadIconRetry:active {
  opacity: 1;
}
richlistitem.download[selected] .downloadButton.downloadIconRetry {
  filter: url(chrome://browser/skin/symbolic-icons-colors.svg#white);
}
richlistitem.download[selected]:hover .downloadButton.downloadIconRetry {
  opacity: .5;
}
richlistitem.download[selected]:hover .downloadButton.downloadIconRetry:hover {
  opacity: .8;
}
richlistitem.download[selected]:hover .downloadButton.downloadIconRetry:active {
  opacity: 1;
}

/*** List items ***/

:root {
  --downloads-item-height: 5em;
}
