/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#downloadsRichListBox {
  /** The default listbox appearance comes with an unwanted margin. **/
  -moz-appearance: none;
  margin: 0;
}

#downloadsRichListBox > richlistitem.download {
  height: 5em;
  padding: 5px 8px;
}

.downloadTypeIcon {
  -moz-margin-end: 8px;
  /* Prevent flickering when changing states. */
  min-height: 32px;
  min-width: 32px;
}

.blockedIcon {
  list-style-image: url("moz-icon://stock/gtk-dialog-error?size=dialog");
}

.downloadTarget {
  margin-bottom: 3px;
  cursor: inherit;
}

.downloadDetails {
  opacity: 0.7;
  font-size: 95%;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  background: transparent;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  padding: 5px;
}

/*** Button icons ***/

.downloadButton.downloadConfirmBlock,
.downloadButton.downloadCancel {
  list-style-image: url("chrome://symbolic-icons/skin/cancel.svg");
}
richlistitem.download:hover > .downloadButton.downloadConfirmBlock,
richlistitem.download:hover > .downloadButton.downloadCancel {
  opacity: .8;
}
richlistitem.download:hover > .downloadButton.downloadConfirmBlock:hover,
richlistitem.download:hover > .downloadButton.downloadCancel:hover {
  opacity: .5;
}
richlistitem.download:hover > .downloadButton.downloadConfirmBlock:active,
richlistitem.download:hover > .downloadButton.downloadCancel:active {
  opacity: 1;
}
richlistitem.download[selected] > .downloadButton.downloadConfirmBlock,
richlistitem.download[selected] > .downloadButton.downloadCancel {
  filter: url(chrome://browser/skin/symbolic-icons-colors.svg#white);
}
richlistitem.download:hover[selected] > .downloadButton.downloadConfirmBlock,
richlistitem.download:hover[selected] > .downloadButton.downloadCancel {
  opacity: .5;
}
richlistitem.download:hover[selected] > .downloadButton.downloadConfirmBlock:hover,
richlistitem.download:hover[selected] > .downloadButton.downloadCancel:hover {
  opacity: .8;
}
richlistitem.download:hover[selected] > .downloadButton.downloadConfirmBlock:active,
richlistitem.download:hover[selected] > .downloadButton.downloadCancel:active {
  opacity: 1;
}

.downloadButton.downloadShow {
  list-style-image: url("chrome://symbolic-icons/skin/folder.svg");
}
richlistitem.download:hover > .downloadButton.downloadShow {
  opacity: .8;
}
richlistitem.download:hover > .downloadButton.downloadShow:hover {
  opacity: .5;
}
richlistitem.download:hover > .downloadButton.downloadShow:active {
  opacity: 1;
}
richlistitem.download[selected] > .downloadButton.downloadShow {
  filter: url(chrome://browser/skin/symbolic-icons-colors.svg#white);
}
richlistitem.download:hover[selected] > .downloadButton.downloadShow {
  opacity: .5;
}
richlistitem.download:hover[selected] > .downloadButton.downloadShow:hover {
  opacity: .8;
}
richlistitem.download:hover[selected] > .downloadButton.downloadShow:active {
  opacity: 1;
}

.downloadButton.downloadRetry {
  list-style-image: url("chrome://symbolic-icons/skin/view-refresh.svg");
}
richlistitem.download:hover > .downloadButton.downloadRetry {
  opacity: .8;
}
richlistitem.download:hover > .downloadButton.downloadRetry:hover {
  opacity: .5;
}
richlistitem.download:hover > .downloadButton.downloadRetry:active {
  opacity: 1;
}
richlistitem.download[selected] > .downloadButton.downloadRetry {
  filter: url(chrome://browser/skin/symbolic-icons-colors.svg#white);
}
richlistitem.download:hover[selected] > .downloadButton.downloadRetry {
  opacity: .5;
}
richlistitem.download:hover[selected] > .downloadButton.downloadRetry:hover {
  opacity: .8;
}
richlistitem.download:hover[selected] > .downloadButton.downloadRetry:active {
  opacity: 1;
}
