%if 0
/* uBlock Origin
 * id: uBlock0@raymondhill.net */
%endif

#ublock0-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/ublockorigin.svg) !important;
}

#ublock0-button.off {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/ublockorigin-off.svg) !important;
}

#ublock0-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #ublock0-button {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/ublockorigin.svg)!important;
  opacity: .6;
}


#ublock0-button.off[cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #ublock0-button  {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/ublockorigin-off.svg) !important;
  opacity: 1;
}
